.nav-button.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.navCalendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 2rem;
    width: 100%;
    background-color: #B2A5FF;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row-reverse;
    z-index: 1000;
}


.nav-buttons {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: center;
}

.nav-button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: #F8F4FF;
    border: 2px solid #493d9e;
    border-radius: 20px;
    color: #493d9e;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.nav-button img {
    width: 24px;
    height: 24px;
    margin-right: 8px;

}

.nav-button:hover {
    background-color: #493d9e;
    color: #FFF2AF;
    transform: translateY(-2px);
}

a {
    font-family: "Rhodium Libre", serif;
}

/* --- NavBar Responsive --- */

@media (max-width: 1024px) {
    .nav-buttons {
        gap: 1rem;
    }

    .nav-button {
        padding: 6px 12px;
        font-size: 0.9rem;
    }
}

@media (max-width: 900px) {
    .navCalendar {
        height: auto;
        padding: 10px;
        flex-direction: column;
        position: relative;
        /* Cambiar a relativo para evitar solapamiento en móviles si hay muchos botones */
    }

    .nav-buttons {
        gap: 0.5rem;
        flex-wrap: wrap;
        padding: 10px 0;
    }

    .nav-button {
        padding: 6px 12px;
        font-size: 0.8rem;
    }

    .nav-button img {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 600px) {
    .nav-buttons {
        justify-content: space-evenly;
    }

    .nav-button {
        width: 45%;
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .nav-button {
        width: 100%;
    }
}