/* Asegura que la app pueda ocupar toda la altura */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

/* Contenedor general de la página */
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Main ocupa el espacio entre navbar y footer */
.panel-container {
  flex: 1;
  /* empuja el footer abajo */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  box-sizing: border-box;
  font-family: "Rhodium Libre", serif;
  gap: 2rem;
  margin-top: 120px;
}

/* Título */
.panel-title {
  text-align: center;
  font-size: 1.8rem;
  color: #493d9e;
  margin: 0;
}

/* Contenedor de los PanelMomento */
.momentos-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  /* importante para responsive */
}